/* home */
@use '../abstracts/variables' as var;
@use '../base/typography' as type;

h1,
h3 {
  text-align: center;
}

h2 {
  text-align: left;
}

img {
  max-width: 2000px;
  text-align: center;
  padding: 1rem;
  border: 3px solid #000080;
}

body {
  background-color: #1faee6;
  border: 6px solid #000080;
}

main {
  color: #000080;
  font-size: 2rem;
}

article {
  font-family: 'Open Sans', sans-serif;
}

footer {
  color: #000080;
  text-align: center;
  font-size: 1rem;
}
